* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 50vh;
    margin: 75px;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#h1 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    margin: 20px 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#options {
    display: grid;
    margin: 100px;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding: auto;
    border: 10px;
    border-radius: 20px;
    gap: 10px;
}

#play-again {
    display: grid;
    margin: 15px 100px;
}

.btn.correct {
    background-color: #8bc34a; /* green */
}

.btn.incorrect {
    background-color: #ff5722; /* red */
}
