* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 50vh;
    margin: 75px;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#option-buttons {
    display: grid;
    margin: 100px;

}